html {
    padding: 0;
    margin:0;
}
body {
    padding:0;
    margin:0;
    overflow: auto;
}
img {
    display: block;
    margin: 0;
    height: 160px;
    float: left;
}
.fav-list {
    overflow: hidden;
    padding-left:2%;
    padding-top:2%;
}
.col {
    width: 23%;
    margin-right: 2%;
    float: left;
}
.col img {
    width: 100%;
    height: auto;
    display: block;
    float: none;
}
.col > div {
    position: relative;
    margin-bottom: 8.7%;
    overflow: hidden;
    box-shadow: 0px 0px 20px black;
}
.col > div > div {
    position: absolute;
    bottom:0;
    background-color: black;
    opacity: 0.5;
    color: white;
    width: 100%;
    font-size: 2vw;
}
a{
    color:#999;
}
a:hover{
    color:#ddd;
}
.no-more {
    width:96%;
    margin:auto;
    text-align: center;
    font-size: 3vw;
    color: silver;
    margin-bottom: 2%;
}
.pager span{
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.pager .current{
    background-color:grey;
    cursor: default;
}